.menu {
    /* background-color: #341e65;*/
    color: black;
    font-family: 'Yellowtail';
    font-size: 2em;
    /* margin-top: 10px; */
    /* margin-bottom: 7px; */
    padding-top: 10px;
    padding-bottom: 7px;
}

.space {
    flex: 1 1 auto;
}

.logo {
    height: 2em;
    width: 2em;
    padding: 2px;
}

.icon {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    margin: 2px;
}

a {
    font-family: 'Yellowtail';
    font-size: 1em;
}