<mat-toolbar class="menu">
    <span> 
        <img routerLink="/" class="logo" src="../../assets/logo.png"/>
        </span>
    <div class="space"></div>
    <a mat-button routerLink="/about_us">About Us</a>
    <a mat-button>Browse Venues</a>
    <a mat-button routerLink="/contact_us">Contact Us</a>
    <div class="space"></div>
    <!--
    <a mat-button routerLink="/profile">Icons</a>
    -->
    <a mat-button>
        <mat-icon class="icon">language</mat-icon>
    </a>
    <a mat-button>
        <mat-icon class="icon">shopping_cart</mat-icon>
    </a>
    <a mat-button routerLink="/profile" style="color: black;">
        <mat-icon class="icon">person</mat-icon>
    </a>
</mat-toolbar>