<div class="main-footer">
    <div class="flex-child">
        <h2>Quick &nbsp; Links</h2>
        <ul>
            <li>
                ABOUT US
            </li>
            <li>
                CONTACT US
            </li>
            <li>
                BROWSE VENUES
            </li>
        </ul>
    </div>
    <div class="flex-child">

    </div>
    <div class="flex-child">
        <h2>Follow Us</h2>
        <ul>
            <li>
                FACEBOOK
            </li>
            <li>
                INSTAGRAM
            </li>
            <li>
                TWITTER
            </li>
        </ul>
    </div>
</div>