<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="background">
    <h1>Reserve Your Venue</h1>
    <div>
        <br/>
        <h2>Please enter the following information to reserve your venue</h2>
        <br/>
    </div>
    <div>
        <form style="text-align: center;flex: 1;">
            <div class="example-container">
                <mat-form-field color="accent">
                    <mat-label>Date of Reservation</mat-label>
                    <input matInput [matDatepicker]="picker1" [formControl]="datePicker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="datePicker.invalid">{{getDatePickerMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <!-- <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Time of Reservation</mat-label>
                    <input type="time" matInput placeholder="Time of Reservation" [formControl]="timeOfReservation" required>
                    <mat-error *ngIf="timeOfReservation.invalid">{{getTimeOfReservationMessage()}}</mat-error>
                </mat-form-field>
            </div> -->
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" [formControl]="firstName" required>
                    <mat-error *ngIf="firstName.invalid">{{getFirstNameErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" [formControl]="lastName" required>
                    <mat-error *ngIf="lastName.invalid">{{getLastNameErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Telephone</mat-label>
                    <input type="tel" matInput placeholder="555-555-1234" [formControl]="phone" required>
                    <mat-error *ngIf="numOfPeople.invalid">{{getPhoneMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Number of People</mat-label>
                    <input type="number" matInput placeholder="Number of People" [formControl]="numOfPeople" required>
                    <mat-error *ngIf="numOfPeople.invalid">{{getNumOfPeopleMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="example-button-row">
                <button mat-raised-button color="primary" routerLink="/reserve_venue">RESERVE NOW</button>
            </div>

        </form>

    </div>
</div>