* {
    font-family: 'Lora';
}

.background {
    /*  background-color: #341e65;*/
    background-color: #f0f7fb;
    height: 31em;
}

h1 {
    padding: 0.5em;
    font-family: 'Yellowtail';
    font-size: 4em;
}