<div class="background">
    <h1>About Us</h1>
    <div class= "about-us">We are three dreaming colleageus started BlueVen Website due to people's
        
         struggle in finding the appropriate venue that suits their event .That is way we felt the need of creating such a website 
         that will help customers search and reserve several types of venue from the comfort of their homes. As well as the business owners now will be able to market their venues 
         and find new customers . 
        </div>
</div>