<div class="background">
    <h1>About Us</h1>
    <div class="about-us">Our team decided to start BlueVen when we saw how many people in our society struggled to find the perfect venue for their events. In a society where our freedom of movement is often restricted, we felt the need to create a website that would help
        customers search and reserve venues from the comfort of their own homes. We also wanted to help local business by providing them a new way to market their venues to a larger audience through our platform.
    </div>
</div>