<div class="background">
    <h1>Your Account</h1>
    <div class="display-flex">
        <div class="child flex-child display-flex" routerLink="/reservations">
            <img class="child-image" src="../../assets/reservationsIcon.png" />
            <div class="display-flex-with-img">
                <div>
                    <h2>Your Venues' Reservations</h2>
                    <p>Track, cancel, or reserve a venue again.
                    </p>
                </div>
            </div>

        </div>
        <div class="child flex-child display-flex" routerLink="/account">
            <img class="child-image" style="width: 7em;" src="../../assets/accountInfoIcon.png" />
            <div class="display-flex-with-img flex-child">
                <div>
                    <h2>Your Account
                    </h2>
                    <p>Edit account info.

                    </p>
                </div>
            </div>

        </div>
        <div class="child flex-child display-flex" routerLink="/watchlist">
            <img class="child-image" src="../../assets/venicon.png" />
            <div class="display-flex-with-img ">
                <div>
                    <h2>Manage Your Venues 
                    </h2>
                    <p> Add New Venues<br> 
                        Delete A Venue <br>
                        Update a Venue 

                    </p>
                </div>
            </div>

        </div>
    </div>

</div>
