<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="background">
    <h1>Best Venues</h1>
    <div class="container2">
        <div class="child">
            <div style="padding-left:1em; padding-top: 2em;">
                <mat-form-field appearance="fill">
                    <mat-label>Event Type
                        <mat-icon>event</mat-icon>
                    </mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <mat-form-field appearance="fill">
                    <mat-label>Location
                        <mat-icon>edit_location</mat-icon>
                    </mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Number of People
                        <mat-icon>people</mat-icon>
                    </mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date of Event">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
                <br>
                <br>
                <h2 class="example-h2" style="text-align: center;font-size: 2em;">Other Criteria</h2>
                <section class="example-section" style="text-align: center;">
                    <br/>
                    <br/>
                    <div style="display: flex;
                    justify-content: space-around;
                    align-items: center;">
                        <mat-checkbox class="example-margin" [(ngModel)]="children">Children</mat-checkbox>
                        <mat-checkbox class="example-margin" [(ngModel)]="food">Food&nbsp;&nbsp;</mat-checkbox>
                        <mat-checkbox class="example-margin" [(ngModel)]="wifi">Wifi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-checkbox>

                    </div>
                    <br/>
                    <div style="display: flex;
                    justify-content: space-around;
                    align-items: center;">
                        <mat-checkbox class="example-margin" [(ngModel)]="price">Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-checkbox>
                        <mat-checkbox class="example-margin" [(ngModel)]="rating">Rating</mat-checkbox>
                        <mat-checkbox class="example-margin" [(ngModel)]="closest">Closest</mat-checkbox>

                    </div>

                </section>
            </div>
        </div>
        <div class="flex-child-2">
            <ul>
                <li *ngFor="let venue of venues">
                    <mat-card class="example-card" routerLink="/venue_info">
                        <img mat-card-image src="{{ venue.imageUrl }}" alt="Photo of a Venue">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <div>${{venue.price}}</div>
                            </div>
                            <mat-card-title>{{venue.name}}</mat-card-title>
                            <mat-card-subtitle>Venue Owner</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{venue.description}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button style="background-color: #4CAF50;color:white">WATCH</button>
                            <button mat-raised-button color="primary">BOOK</button>
                        </mat-card-actions>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>
</div>