* {
    font-family: 'Lora';
}

h1 {
    padding: 0.5em;
    font-family: 'Yellowtail';
    font-size: 4em;
    background-color: #321e65;
    color: white;
    /* text-align: center; */
    font-weight: normal;
}

.background {
    height: auto;
}

.example-card {
    max-width: 100%;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.child {
    width: 36em;
    /* border: 1px solid black; */
    height: 10px;
    top: 0;
    position: sticky;
}

.flex-child-2 {
    flex: 2;
}

.container {
    display: flex;
}

ul {
    list-style: none;
}

li {
    padding: 1em;
}

.mat-form-field {
    width: 100%;
    text-align: center;
}

.mat-card-avatar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space {
    flex: 1;
}

.mat-checkbox {
    font-size: 1.5em;
}