@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.background {
    /*  background-color: #341e65;*/
    background-color: #f0f7fb;
    height: auto;
}


/* .x .c1-3h {
    margin-right: -128px;
}

.x .c1-3j {
    margin-left: 408px;
} */


/* .img1 {
    background-image: url(../../assets/davisco-5E5N49RWtbA-unsplash.jpg);
} */


/*****************************************************************/


/* .x .c1-8r {
    background-image: url(../../assets/davisco-5E5N49RWtbA-unsplash.jpg);
    background-size: none!important;
} */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.disp-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-grow {
    flex: 1;
}

a {
    text-decoration: none;
    color: black;
}