<div class="form">
    <form *ngIf="registerFormActive" class="register-form">
        <input type="text" placeholder="Username" [(ngModel)]="username" name="username" />
        <input type=" password " placeholder="Password " [(ngModel)]="password " name="password " />
        <input type="text " placeholder="Email Address " [(ngModel)]="email " name="email " />
        <button (click)="register() ">create</button>
        <p class="message ">Already registered? <a (click)="showLogin() ">Sign In</a></p>
    </form>
    <form *ngIf="loginFormActive " class="login-form ">
        <input type="text " placeholder="Username " [(ngModel)]="username " name="username " />
        <input type="password " placeholder="Password " [(ngModel)]="password " name="password " />
        <div *ngIf="notAUser " class="error_message" style="color:red; ">Invalid Credentials</div>
        <button (click)="checkLogin() ">login</button>
        <p class="message ">Not registered? <a (click)="showRegister() ">Create an account</a></p>
    </form>
</div>